.player-pill {
    transition: all 0.2s ease-in-out;
}

.player-pill.selected-pill {
    background-color: #a78bfa; /* Tailwind purple-400 */
    color: white;
    border-color: #7c3aed;
}

.fade-in {
    animation: fadeIn 0.8s ease-out forwards;
}

#matchModalContent table {
    white-space: nowrap;
}

@media (max-width: 640px) {
    #matchModalContent table {
        min-width: 640px;
    }
}

body.overflow-hidden {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.97);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}